---
Language:                   Cpp
BasedOnStyle:               LLVM
ColumnLimit:                100
IndentWidth:                4
TabWidth:                   4
IndentPPDirectives:         AfterHash
AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBraces:          Linux
...

